*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(120deg, rgba(62,209,238,1) 0%, rgba(62,238,171,1) 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
}

header{
    font-size: 1.5rem;
}

header,
form{
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form input, form button{
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: white;
}

form button{
    color: rgba(62,238,171,1);
    background: white;
    cursor: pointer;
    transition: .4s;
}
form button:hover{
    background: rgba(62,238,171,1);
    color: white;
}
